<!--
<app-header></app-header>

<app-navigation></app-navigation>

<div class="container">
  <div class="main">
    <app-main></app-main>
  </div>
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
</div>

<app-footer></app-footer>
-->

<div class="container">
  <header>
    <app-header></app-header>
  </header>
  <nav>
    <app-navigation></app-navigation>
  </nav>
  <div class="content">
    <main>
      <app-main></app-main>
    </main>
    <aside>
      <app-sidebar></app-sidebar>
    </aside>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>
